* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*  esta parte es para los foemularios*/
.form-admin{
    width: 1000px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 3px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;


}

.form-admin h4 {
    font-size: 22px;
    margin-bottom: 20px;
        
}
/* esta para los input osea los cuadros de texto*/
.controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}



/*botones en generas*/
.form-admin .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-admin-historial .boton{
       width: 100%;
    background: #E5E43E;
    border: none;
    padding: 6px;
    color: black;
    margin: 5px 0;
    font-size: 10px;
    
}

th{
    background: #1f53c5;
    color: white;
    padding: 18px;
}

td {
    background: #E4E6EA;
    color: black;
    padding: 18px;
}

.form-admin-historial .botonestado{
       width: 100%;
    background: #1DF536;
    border: none;
    padding: 6px;
    color: black;
    margin: 5px 0;
    font-size: 10px;
    
}
.form-admin-historial .botonestadoeliminar{
    width: 100%;
    background: #FF0000;
    border: none;
    padding: 6px;
    color: black;
    margin: 5px 0;
    font-size: 10px;
    
}


